# Dependencies
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env.local
.env.*.local
!nbjm/.env

# Build
dist/
build/

# Temporary files
*.tmp
*.temp

.vercel

# NBjm Python project
nbjm/.venv/
nbjm/__pycache__/
nbjm/**/__pycache__/
nbjm/data/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
